<!doctype html>
<html>
<head>
    <title>{{report_name}} - BGS - {{bgs_day}}</title>
    <meta name="viewport" content="width=device-width">
<meta charset="utf-8">
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" defer></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">-->
<link rel="stylesheet" href="bootstrap-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" defer></script>
<script src="Chart.bundle.min.js"></script>
<!-- Custom Styles -->
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/themes/prism-okaidia.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/prism.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/components/prism-javascript.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/components/prism-python.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/components/prism-rust.min.js" defer></script>



<link rel="apple-touch-icon" href="favicon.ico">
<link rel="shortcut icon" href="favicon.ico">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93042012-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-93042012-1');
</script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href=".">{{report_name}} - BGS - {{bgs_day}}</a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-navigation"
            aria-controls="main-navigation"
            aria-expanded="false"
            aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav ml-auto">
        
        <!--
        <li class="nav-item">
            <a class="nav-link" href="https://damad.be/joost/">home</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/andete">github</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="https://damad.be/joost/blog">blog</a>
        </li>

        -->
        
    </ul>
    </div>
</div>
</nav>

    
    <article class="post container my-3">
      <!--
          <header>
          <h1 class="post-title">Joost Yervante Damad</h1>
          </header>
          -->
      <p>
      jump to: 
      {% for system in systems %}
      <a href="#{{system.name}}">{{system.name}}</a>
      {% endfor %}
      </p>
      
      {% for system in systems %}
      <h2 id="#{{system.name}}">{{system.name}}</h2>
      <p>population: {{system.population}}</p>
      <p style="color: red;"><b>
        {% for warning in system.warnings %}
        Warning: {{warning}}<br/>
        {% endfor %}
      </b></p>

      <canvas id="{{system.name}}" width="640" height="400"></canvas>
      <script>
var ctx = document.getElementById("{{system.name}}").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
        {% for date in dates %}
           "{{date}}",
        {% endfor %}
        ],
datasets: [
{% for faction in system.factions_by_inf %}
{
            spanGaps: true,
            fill: false,
            label: '{{faction.name | addslashes}}',
data: [
{% for data in faction.evolution %}
{
x: '{{data.label_date }}',
y: {{ data.influence * 100 | round(method="ceil", precision=2) }}
},
{% endfor %}
],
backgroundColor: '{{ faction.color }}',
borderColor: '{{ faction.color }}',
            borderWidth: 1
},
{% endfor %}
]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
      </script>

      {% for faction in system.factions_by_inf %}
      <h4>{{ faction.name }}
        {% if faction.is_player_faction %}
        <i class="fa fa-street-view" aria-hidden="true" title="Player Faction"></i>
        {% endif %}
        {% if faction.at_home %}
        <i class="fa fa-home" aria-hidden="true" title="Home System"></i>
        {% endif %}
        {% if faction.controlling %}
        <i class="fa fa-sort-amount-asc fa-rotate-180 fa-flip-vertical" aria-hidden="true" title="Controlling"></i>
        {% endif %}
        <font size="3">{{faction.government}} {{faction.allegiance}}</font>
      </h4>
      <p>
      </p>
      <p>
        {% if faction.global.state_day %}
        Day {{ faction.global.state_day }} of {{ faction.global.state_max_length }} of
        {% endif %}
        {% if faction.global.state_danger %}
        <span style="color:red;"><b>
        {% endif %}
        {{ faction.global.state }}
        {% if faction.global.state_danger %}
        </b></span>
        {% endif %}
        {% if faction.global.state_system %}
            in {{ faction.global.state_system }}
        {% endif %}
        {% if faction.global.pending_state %}
            with pending {{ faction.global.pending_state }} in {{ faction.global.pending_state_system }}
        {% endif %}
        {% if faction.global.recovery_state %}
            recovering from {{ faction.global.recovery_state }} in {{ faction.global.recovery_state_system }}
        {% endif %}
      </p>
      <table class="faction">
        <thead>
        <tr>
          <th></th>
          {% for date in dates10 %}
          <th>{{date}}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>inf:</td>
          {% for data in faction.evolution10 %}
          <td nowrap>
            {% if data.influence_danger %}
            <span style="color:red;"><b>
            {% endif %}
            {{ data.influence * 100 | round(method="ceil", precision=2) }}
            {% if data.influence_danger %}
            </b></span>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>recovery:</td>
          {% for data in faction.evolution10 %}
          <td nowrap>
            {% for r in data.recovering_states %}
            {{ r.state }} ({{ r.state_day }}/{{ r.state_recovery_length }}) {{ r.trend_display }}<br/>
            {% endfor %}
          </td>
          {% endfor %}
        </tr> 
        <tr>
          <td>state:</td>
          {% for data in faction.evolution10 %}
          {% if data.state == "none" %}
          <td nowrap>{{ data.state }} ({{ data.state_day }})</td>
          {% else %}
          <td nowrap>
            {% if data.state_danger %}
            <span style="color:red;"><b>
            {% endif %}
            {{ data.state }} ({{ data.state_day }}/{{ data.state_max_length }})</td>
            {% if data.state_danger %}
            </b></span>
            {% endif %}
          {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <td>pending:</td>
          {% for data in faction.evolution10 %}
          <td nowrap>
            {% for p in data.pending_states %}
            {% if p.state_pending_danger %}
            <span style="color:red;"><b>
            {% endif %}
            {{ p.state }} ({{ p.state_day }}/{{p.state_pending_length}}) {{ p.trend_display }}<br/>
            {% if p.state_pending_danger %}
            </b></span>
            {% endif %}
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
      </tbody>
      </table>
      {% endfor %}<!-- factions -->
      
      {% endfor %}<!-- systems -->
    </article>
    
    <footer class="container text-center my-2">
    </footer>

</body>
</html>
